{% extends "base.html" %}
{% load disqus %}
{% block extra_head %}
    <meta name="keywords" content="{% for cat in article.categories.all %}{{ cat.name }}, {% endfor %}" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feed" />
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{{ post.content }}

{% disqus_thread post %}

<p>Post filed in categories:
{% for tag in post.tags.all %}
    <a href="/blog/tag/{{ tag.slug }}">{{ tag.name }}</a>
{% endfor %}
</p>
{% endblock %}
