<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Rambling Soul 3</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="favicon.ico" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="Header">
  <ul id="navigation">
    <li class="active"><a href="http://www.free-css.com/">Home</a></li>
    <li><a href="http://www.free-css.com/">About</a></li>
    <li><a href="http://www.free-css.com/">Works</a></li>
    <li><a href="http://www.free-css.com/">Goodies</a></li>
    <li><a href="http://www.free-css.com/">Contact</a></li>
  </ul>
</div>
<div id="header2">
  <div class="logo"> Rambling Soul </div>
  <div class="banner"><span>Download it.. let me know if you like it.. </span></div>
</div>
<div id="Content">
  <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam erat  nunc, tincidunt non, commodo ac, bibendum in, elit. Vivamus sit amet  velit. Etiam at leo. </h2>
  <h1>Hello and welcome</h1>
  <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam erat  nunc, tincidunt non, commodo ac, bibendum in, elit. Vivamus sit amet  velit. Etiam at leo. In aliquam, tellus vitae lobortis mattis, libero  neque luctus justo, a pulvinar neque lectus quis pede. Duis magna.  Suspendisse at risus. Sed porttitor ultricies quam. Sed tempus dui.  Duis feugiat sem quis nisl. Nullam consequat pede at odio. Curabitur  placerat. Quisque neque magna, accumsan vel, suscipit id, hendrerit in,  lectus. Suspendisse eu libero in augue dapibus facilisis. Praesent  sagittis porttitor massa. Aliquam placerat odio nec nulla. Phasellus  nunc mauris, lacinia quis, suscipit vitae, tristique quis, turpis.  Suspendisse et erat. Nam ornare nulla. Suspendisse vestibulum  adipiscing risus. </p>
  <h1>What do I do ? </h1>
  <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam erat  nunc, tincidunt non, commodo ac, bibendum in, elit. Vivamus sit amet  velit. Etiam at leo. In aliquam, tellus vitae lobortis mattis, libero  neque luctus justo, a pulvinar neque lectus quis pede. Duis magna.  Suspendisse at risus. Sed porttitor ultricies quam. Sed tempus dui.  Duis feugiat sem quis nisl. Nullam consequat pede at odio. Curabitur  placerat. Quisque neque magna, accumsan vel, suscipit id, hendrerit in,  lectus. Suspendisse eu libero in augue dapibus facilisis. Praesent  sagittis porttitor massa. Aliquam placerat odio nec nulla. Phasellus  nunc mauris, lacinia quis, suscipit vitae, tristique quis, turpis.  Suspendisse et erat. Nam ornare nulla. Suspendisse vestibulum  adipiscing risus. </p>
  <p>Nullam adipiscing rutrum risus. Curabitur ut magna vel nisi  sollicitudin egestas. In fringilla turpis non dui. Integer in tellus.  Praesent lacus. Donec luctus. Aliquam convallis est nec purus. Vivamus  volutpat turpis a elit. Proin congue, sapien eget lobortis varius,  massa sapien suscipit elit, vitae interdum nunc sapien eu est. Quisque  eros. Donec nonummy viverra quam. Fusce convallis, enim eget vulputate  mattis, risus enim blandit sem, vel cursus tortor diam in felis. In  placerat. Pellentesque dictum. Praesent vel mauris. Cras nisl. Etiam  non orci volutpat dui tincidunt elementum. Aenean ultricies massa id  tellus venenatis semper. Aenean urna urna, iaculis at, adipiscing et,  volutpat at, leo. </p>
  <blockquote>
    <p> As is the case with most layouts in the Reservoir, the order of elements (header, content, menu) in the HTML source is friendly and accessible to mobile computers, text-based browsers, and alternative/accessible devices.</p>
  </blockquote>
  <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam erat  nunc, tincidunt non, commodo ac, bibendum in, elit. Vivamus sit amet  velit. Etiam at leo. In aliquam, tellus vitae lobortis mattis, libero  neque luctus justo, a pulvinar neque lectus quis pede. Duis magna.  Suspendisse at risus. Sed porttitor ultricies quam. Sed tempus dui.  Duis feugiat sem quis nisl. Nullam consequat pede at odio. Curabitur  placerat. Quisque neque magna, accumsan vel, suscipit id, hendrerit in,  lectus. Suspendisse eu libero in augue dapibus facilisis. Praesent  sagittis porttitor massa. Aliquam placerat odio nec nulla. Phasellus  nunc mauris, lacinia quis, suscipit vitae, tristique quis, turpis.  Suspendisse et erat. Nam ornare nulla. Suspendisse vestibulum  adipiscing risus. </p>
  <p>Nullam adipiscing rutrum risus. Curabitur ut magna vel nisi  sollicitudin egestas. In fringilla turpis non dui. Integer in tellus.  Praesent lacus. Donec luctus. Aliquam convallis est nec purus. Vivamus  volutpat turpis a elit. Proin congue, sapien eget lobortis varius,  massa sapien suscipit elit, vitae interdum nunc sapien eu est. Quisque  eros. Donec nonummy viverra quam. Fusce convallis, enim eget vulputate  mattis, risus enim blandit sem, vel cursus tortor diam in felis. In  placerat. Pellentesque dictum. Praesent vel mauris. Cras nisl. Etiam  non orci volutpat dui tincidunt elementum. Aenean ultricies massa id  tellus venenatis semper. Aenean urna urna, iaculis at, adipiscing et,  volutpat at, leo. </p>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada  fames ac turpis egestas. Cras purus tortor, cursus at, mollis sed,  vehicula ut, lacus. Curabitur quis arcu tempus diam tempor vehicula.  Etiam vitae urna. Donec tristique. Fusce tincidunt sem a felis. Donec  rhoncus dignissim urna. Aenean id dui. Aenean ac odio nec nulla  tincidunt dictum. Praesent suscipit, nisi id dapibus posuere, arcu  ligula gravida enim, non blandit mauris velit ut erat. Praesent est  dui, ultricies eu, posuere eu, luctus et, orci. Quisque pede turpis,  mollis lobortis, rhoncus id, consequat sollicitudin, pede. Donec arcu  lectus, lacinia vel, mattis vitae, mollis vitae, mi. Etiam nisi. Morbi  quam pede, vulputate vel, egestas sed, semper ut, leo. Sed risus mi,  sollicitudin ac, consequat volutpat, rutrum nec, erat. Class aptent  taciti sociosqu ad litora torquent per conubia nostra, per inceptos  hymenaeos. Fusce sodales facilisis ligula. </p>
  <h1>&nbsp;</h1>
</div>
<div id="Menu">
  <h2>Categories</h2>
  <ul class="subnav">
    <li><a href="http://www.free-css.com/">Rambles and rants</a></li>
    <li><a href="http://www.free-css.com/">Music, Movies</a></li>
    <li><a href="http://www.free-css.com/">Web Designing</a></li>
    <li><a href="http://www.free-css.com/">Wordpress Themes</a></li>
    <li><a href="http://www.free-css.com/">Free Icons</a></li>
  </ul>
  <h2>Pages</h2>
  <ul class="subnav">
    <li><a href="http://www.free-css.com/">Rambles and rants</a></li>
    <li><a href="http://www.free-css.com/">Music, Movies</a></li>
    <li><a href="http://www.free-css.com/">Web Designing</a></li>
    <li><a href="http://www.free-css.com/">Wordpress Themes</a></li>
    <li><a href="http://www.free-css.com/">Free Icons</a></li>
  </ul>
  <h2>Latest Posts </h2>
  <ul class="subnav">
    <li><a href="http://www.free-css.com/">Rambles and rants</a></li>
    <li><a href="http://www.free-css.com/">Music, Movies</a></li>
    <li><a href="http://www.free-css.com/">Web Designing</a></li>
    <li><a href="http://www.free-css.com/">Wordpress Themes</a></li>
    <li><a href="http://www.free-css.com/">Free Icons</a></li>
  </ul>
</div>
<div class="spacer">&nbsp;</div>
<div class="footer">
  <p>&copy; Your Copy right Information<br />
    Put all your links here.. write down what ever you like<br />
    Designed by : <a href="http://ramblingsoul.com">Rambling Soul</a>| <a href="http://validator.w3.org/check?uri=referer">XHTML 1.0</a> | CSS</p>
</div>
</body>
</html>
