{% load simplemenu_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <title>{% block title %}Lu&iacute;s Pedro Coelho{% endblock %}</title>
    <meta name="author" content="Luís Pedro Coelho" />
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="/media/style/ramblingsoul3.css" rel="stylesheet" type="text/css" />
    <link href="/media/style/rest.css" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>


<!-- Start google analytics -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("UA-11809251-1");
    pageTracker._trackPageview();
} catch(err) {    
    /* pass */
}
</script>
<!-- End google analytics -->

<body>
<div id="header">
    {% block topbar %}
        {% show_tabs "Top Menu" %}
    {% endblock %}
</div>
<div id="header2">
  <div class="logo">{% block logo %}luispedro.org{% endblock %}</div>
  <div class="banner"><span>{% block tagline %}computational biology &amp;c{% endblock %}</span></div>
</div>

{% autoescape off %}
        <div id="content">
            {% block content %}
                My content
            {% endblock %}
        </div>
{% endautoescape %}

<div id="menu">
  {% block sidebar %}
    {% show_menu "Main Menu" %}
  {% endblock %}
</div>
<div class="spacer">&nbsp;</div>
<div class="footer">
        {% block footer %}
            Copyright (c) 2009. Lu&iacute;s Pedro Coelho. All rights reserved.<br />
            Website Graphical Design by : <a href="http://ramblingsoul.com">Rambling Soul</a>| <a href="http://validator.w3.org/check?uri=referer">XHTML 1.0</a> | CSS</p>
        {% endblock %}
</div>
</body>
</html>
